.button-group {
    display: flex;
    gap: 10px;
  }
  
  .reorder-btn {
    border: 1px solid #dee2e6;
    color: #000;
    background-color: #f8f9fa;
    font-weight: bold;
  }
  
  .create-btn {
    background-color: #28a745;
    color: white;
    font-weight: bold;
  }
  
  .icon {
    margin-right: 5px;
  }

  
  .filter-btn {
    border: 1px solid #007bff;  
    background-color: #f0f4ff;  
    color: #000;                
    font-weight: 500;           
    display: flex;
    align-items: center;
    padding: 5px 10px;
  }
  
  .icon {
    margin-right: 5px;          
    color: #007bff;             
  }
  