/* Dashboard.css */
.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  }
  
  .text-muted {
    font-size: 0.85rem;
    color: #6c757d;
  }
  
  h4 {
    font-weight: bold;
  }
  
  